.calendar table {
	font-size: 34px;
	border-spacing: 10px 10px;
	border-collapse: separate;
	top: auto;
	height:10px;
	display:block;
}

.calendar th {
	font-size: 100%;
}
/* scoll bar width */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	
	-webkit-border-radius: 10px;
	background-color: #000;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#666; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.calendar tr {
	text-align:center;
}

.titlebar {
	height: 45px;
	font-size: 200%;
	background-color: #1c2020;
	text-align: center;
	margin-top: 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222), color-stop(0.5, #222), color-stop(0.5, #333));
	border-bottom: 1px solid #555;
	vertical-align: middle;
	
	/*background-image: linear-gradient(bottom, #ff8b01 0%, #ffb547 100%), linear-gradient(bottom, #ff8b01 0%, #ffb547 100%);
	background-image: linear-gradient(to top, #ff8b01 0%, #ffb547 100%), linear-gradient(to top, #ff8b01 0%, #ffb547 100%);
*/
	
}

.today {
	border-style: solid;
	float: none;
	text-align: center;
	vertical-align: middle;
	font-size: 100%;
	height: 100%;
	width: 100%;
	background-color: #1f222d;
	/*border-color: #00FFFF;*/
	border: 5px solid aqua;
	background: -webkit-gradient(linear, left top, left bottom, from(#1f222d), to(#333), color-stop(0.5, #333), color-stop(0.5, #1f222d));
	color: #FFFFFF;
}


.button {
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222), color-stop(0.5, #222), color-stop(0.5, #333));
	border-bottom: 1px solid #555;
	height: 45px;
	font-size: 200%;
	/*background-color: #1c2020;*/
	margin-top: 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #FFFFFF;
	
}

.calendar td {
	background-color: #1c2020;
	text-align: center;
	padding-left: 10px;
	margin: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222), color-stop(0.5, #222), color-stop(0.5, #333));
	border-bottom: 1px solid #555;*/
	vertical-align: middle;
	font-size:80%;
	height: 34px;
	width:150px;
}
.calendar .td_grey td{
	background-color: #1c2020;
	text-align: center;
	padding-left: 10px;
	margin: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222), color-stop(0.5, #222), color-stop(0.5, #333));
	border-bottom: 1px solid #555;*/
	vertical-align: middle;
	font-size:80%;
	height: 34px;
	width:150px;
	color:gray;
}


.calendar .alt td {
	background-color: #1f222d;
	border-color: #1f222d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1f222d), to(#333), color-stop(0.5, #333), color-stop(0.5, #1f222d));
	border-bottom: 1px solid #555;
	font-size: 100%;
	width: 150px;
	height: 150px;
}