.calendar {
	//background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222), color-stop(0.5, #222), color-stop(0.5, #333));
	border-bottom: 1px solid #555;
	font-size: 200%;
	/*background-color: #1c2020;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #FFFFFF;
}

.calendar table {
	font-size: 34px;
	border-spacing: 10px 10px;
	border-collapse: separate;
	top: auto;
	height:130px;
	display:block;
	margin-top: 2em;
	table-layout:auto;
	text-align:left;
	
	
}

.calendar button{
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222), color-stop(0.5, #222), color-stop(0.5, #333));
	color:white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px;
	font-size: 30px

}

.calendar iframe{
	margin-top: -5em;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	float: right;
	border-left-radius: 10px;
	-moz-border-radius: 10px;

}
